<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="../static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="../static/lib/css/dc.css">
  <link rel="stylesheet" href="../static/css/custom.css">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Board Games Analysis Dashboard</a>
        <a class="navbar-brand" href="https://data-programming-project.azurewebsites.net/api/boardgames/all">API - All Data</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-8">
        <div class="row">

          <!-- Age Group Pie --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Games by Age Group
              </div>
              <div class="chart-stage">
                <img src="../static/images/Picture1.jpg">
              </div>
            </div>
          </div>
          </div>
          <!-- Age Group Pie --> 

          <!-- Price Bar Chart -->
          <div class="col-sm-12">
          <div class="row">
            <div class="chart-wrapper">
              <div class="chart-title">
                Price by Number of Players
              </div>
              <div class="chart-stage">
                <img src="../static/images/Picture2.jpg">
              </div>
            </div>
          </div>
          <!-- Price Bar Chart -->

          <!-- Popularity Trend -->
          <div class="col-sm-12">
        <div class="row">
            <div class="chart-wrapper">
              <div class="chart-title">
                Popularity by Playtime
              </div>
              <div class="chart-stage">
                <img src="../static/images/Picture3.jpg">
              </div>
            </div>
          </div>
          <!-- Popularity Trend -->

        </div>
      </div>

    </div>

  </div>

    <hr>
    <p class="small text-muted">Built with &#9829; by Leah, Priyansh & Monil</a></p>

  </div>

  <script src="../static/lib/js/jquery.min.js"></script>
  <script src="../static/lib/js/bootstrap.min.js"></script>


  <script src="../static/lib/js/keen.min.js"></script>
</body>
</html>
